body{
	background-color: #E4E6EB;
	font-family: 'Assistant', sans-serif;
	color: #071C4D;
}

.navbar-brand{
	img{
		max-height: 40px;
	}
}

.btn-login{
	background-color: #071C4D;
	color: #fff;

	a:hover{

	background-color: #6d80ed;
	color: #fff;
	}
	
}

